<div class="card">
    <div class="row">
        <div class="col-md-4">
     <img src="images/sky3.jpg" class="card-img-top" alt="...">
     </div>
     <div class="col-md-8">
     
          
          <div class="card-body">
            <h5 class="card-title">Amala and Ewedu</h5>
            <p class="card-text">African dish made specially for youruba tribe.</p>
            <div class="row">
                <div class="col-6 col-sm-4">Category</div>
                <div class="col-6 col-sm-4">Area</div>
                
                <div class="w-25 d-none d-md-block"></div>
                
                <div class="col-6 col-sm-4">Vegeterian</div>
                <div class="col-6 col-sm-4">Italian</div>
                
            
            </div>
            <button type="button" class="btn btn-warning amla">view recipe</button>
          </div>
         <div class="row">
          

         </div>
         
    </div>
        
        </div>
    </div>

