{% extends "head.html" %}
{% block page_content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

  <style>
    btn btn-danger{
    
      position:absolute;
      right:10px;
    }
    </style>

<h1 style="font-weight: bold;text-align: center;">About Our Services</h1>
<div style="padding: 50px;">
    <div class="card mb-2" style="width:100%;">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-12">
        <img src="{% static 'assets/img/team/sking.jpg' %}" style="height: 100%;" class="card-img" alt="...">
      </div>
      <div class="col-md-8" style="text-align: center;">
        <div class="card-body">
          <h1 style="color:teal;"><b>Skincare</b></h1>
          
          <h2 class="card-text" style="font-size:1.2rem; text-align: center;">
            Taking care of your skin also helps prevent skin problems.

            An ounce of prevention is worth a pound of cure and all that.
            
            Who wouldn’t like the confidence boost you get from healthy glowing skin?
            
            Keep reading through these skincare quotes and learn just what you should include in a skincare routin      </h2>
          
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="width:100%;">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-12">
        <img src="{% static 'assets/img/team/msing.jpg' %}" style="height: 100%;"  class="card-img" alt="...">
      </div>
      <div class="col-md-8" style="text-align: center;">
        <div class="card-body">
      <h1 style="color:teal;"><b>Massage</b></h1>
          
          <h2 class="card-text" style="font-size:1.2rem; text-align: center;">
            Give your body a little love, it deserves it.
            Touch the body. Heal the mind. Calm the spirit.
            A good weekend starts with a positive attitude and a great massage.
            Relax, renew, refresh  <b>FAVOUR BEAUTY WORLD</b> has all it takes to make you feel perfect.
      </h2>
          
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="width:100%;">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-12">
        <img src="{% static 'assets/img/team/pying.jpg' %}" style="height: 100%;" class="card-img" alt="...">
      </div>
      <div class="col-md-8" style="text-align: center;">
        <div class="card-body">
      <h1 style="color:teal;"><b>Piercing</b></h1>
          
          <h2 class="card-text" style="font-size:1.2rem; text-align: center;">
            Don’t forget to pamper yourself,
            look perfectly like you want to.
            <b>FAVOUR BEAUTY WORLD</b> got the right style to achieving the perfect 
            look for you.      </h2>
          
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="width:100%;">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-12">
        <img src="{% static 'assets/img/team/download (29).jpeg' %}" style="height: 100%;" class="card-img" alt="...">
      </div>
      <div class="col-md-8" style="text-align: center;">
        <div class="card-body">
      <h1 style="color:teal;"><b>nail tratment</b></h1>
          
          <h2 class="card-text" style="font-size:1.2rem; text-align: center;">
            Life is not perfect. But your nails can be!
            Having Fabulous Nails is a choice!
            Take care of your Body.. It’s the only place you have to live.
            Great Nails will often solve many problems,<b>FAVOUR BEAUTY WORLD</b> has all it takes to make you feel perfect.
      </h2>
          
        </div>
      </div>
    </div>
  </div>

  <div class="card mb-3" style="width:100%;">
    <div class="row no-gutters">
      <div class="col-lg-4 col-md-12">
        <img src="{% static 'assets/img/team/download (30).jpeg' %}" style="height: 100%;" class="card-img" alt="...">
      </div>
      <div class="col-md-8" style="text-align: center;">
        <div class="card-body">
          <h1 style="color:teal;"><b>Hair treatments</b></h1>
          
          <h2 class="card-text" style="font-size:1.2rem; text-align: center;">
          Hair treatments generally refer to any means of managing 
            common hair related problems such as hair fall, dryness, dandruff, frizzy hair, 
            thinning hair, and so on. The treatments vary in terms of the problem you are 
            suffering from because different ingredients and elements are required to 
            tackle them. These problems can be caused to a variety of reasons such as 
            your lifestyle, dietary habits, the products you already use for your hair, 
            and your natural hair type.</h2>
          <h2 class="card-text" style=" text-align: center;">
     
      </h2>
          
        </div>
      </div>
    </div>
  </div>

















  
  </div>







   
  
  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>FOUR BEAUTY WORLD</h3>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/home">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/servicelandpage">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/About">About</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/Contact">Contact</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
            </ul>
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="/seeskincare">Skincare</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/seeselectedupload">Facial</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/piercing">Piercing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/seemassage">Massage</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/hairtreatment">Hair Treatment</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="/nailtreatment">Nail Treatment</a></li>
              <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Nail tr</a></li> -->
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Enjoy our discounted service today</h4>
            <p>join our hundereds of customer to enjoy about discount,and get  all feel of our standard spar and skincare a trial would convince you. </p>
           
             <a href="/Contact">  <button style="background-color: rgb(255, 196, 86);padding-right: 121px;padding-left: 121px;box-shadow: 1px 1px 1px  whitesmoke;border-radius: 5px;">CLICK NOW</button></a>
           
          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
          &copy; Copyright <strong><span>OBASI</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
        
          Designed by <a href="https://bootstrapmade.com/">OBASI</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>

  <!-- Template Main JS File -->
  "<script src="assets/js/main.js"></script>"

</body>

</html>
{% endblock %}