{% extends "head.html" %}{% block page_content %}
<!-- nwCKC -->
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width={device-width}, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="align-items: center;text-align: center;padding: 5px;margin: 10px; ">
            <h4 style="font-size:1.8rem;">We render different services here in <b style="color: rgb(255, 150, 167);">FAVOUR BEAUTY WORLD</b> click to see images</h4>
                <ul style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;font-size:2rem;background-color: rgb(223, 223, 223);opacity: 80%; border-radius: 35px;text-decoration: underline;padding:10%;">
                    <li><a href="/seeskincare">Skincare</a></li>
                    <hr>
                    <li><a href="/seeselectedupload">Facial</a></li>
                    <hr>
                    <li><a href="/piercing">Piercing</a></li>
                    <hr>
                    <li><a href="/seemassage">Massage</a></li>
                    <hr>
                    <li><a href="/hairtreatment">Hair treatment</a></li>
                    <hr>
                    <li><a href="/nailtreatment">Nail treatment</a></li>
                </ul>
            
    </div>
    

  
    <footer id="footer">

        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6 footer-contact">
                <h3 style="font-weight: bold;text-align: center;">FAVOUR BEAUTY WORLD</h3>
                <p>
                  A1b ikumapayi street kabowei<br>
                  meiran lagos state<br>
                  Nigeria <br><br>
                  <strong>Tel Number:</strong>09027385886<br>
                  <strong>Email:</strong> favourobasi277"gmail.com<br>
                </p>
              </div>
    
              <div class="col-lg-2 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="/home">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/servicelandpage">Services</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/About">About</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/Contact">Contact</a></li>
                  <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li> -->
                </ul>
              </div>
      
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="/seeskincare">Skincare</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/seeselectedupload">Facial</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/piercing">Piercing</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/seemassage">Massage</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/hairtreatment">Hair Treatment</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/nailtreatment">Nail Treatment</a></li>
                  <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">Nail tr</a></li> -->
                </ul>
              </div>
    
              <div class="col-lg-4 col-md-6 footer-newsletter">
                <h4>Enjoy our discounted service today</h4>
                <p>join our hundereds of customer to enjoy about discount,and get  all feel of our standard spar and skincare a trial would convince you. </p>
                <form action="" method="post">
                  <button style="background-color: rgb(255, 196, 86);padding-right: 121px;padding-left: 121px;">CLICK NOW</button>
                </form>
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container d-md-flex py-4">
    
          <div class="me-md-auto text-center text-md-start">
            <div class="copyright">
              &copy; Copyright <strong><span>OBASI</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
              <!-- All the links in the footer should remain intact. -->
              <!-- You can delete the links only if you purchased the pro version. -->
              <!-- Licensing information: https://bootstrapmade.com/license/ -->
              <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flattern-multipurpose-bootstrap-template/ -->
              Designed by <a href="https://bootstrapmade.com/">OBASI</a>
            </div>
          </div>
          <div class="social-links text-center text-md-right pt-3 pt-md-0">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
      </footer><!-- End Footer -->
    
 <!-- Vendor JS Files -->
 <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
 <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
 <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
 <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
 <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
 <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
 <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

 <!-- Template Main JS File -->
 <script src="assets/js/main.js"></script>


</body>

</html>
{% endblock %}