{% extends 'head.html' %}
{% block page_content %}
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<style>
  input{
      display:inline;
      justify-content:center;
      box-sizing:border-box; border-radius:10px; 
      padding: 20px;
      margin: 10px;
  }

  label{
  font-size:1rem;
      display:block;
      box-sizing:border-box; 
      border-radius:20px; 
  }

</style>
 
<body>
  <br>
 
  <form method="post" enctype="multipart/form-data" style="background-color:white;border-radius: 10px;margin: 20px;padding: 20px; text-align:inherit ;font-size: larger;box-shadow:5px 5px 5px 5px rgb(12, 12, 14);">
    {% csrf_token %}
  {{form.media}}
  {{form.as_p}}
     <button type="submit">Upload</button>
</form>
  <hr>


 <!-- {% for x in picture %}
 <div style="display: flex;">
     <div class="col-md-4">{{ x.name }}</div>
     <img src="{{ x.image.url }}" class="img-responsive" style="width: 50%;float: left;margin-right: 10px;" alt="">
 </div>
 {% endfor %}
   -->

</body>
</html>


{% endblock %} 